body{
    margin: 0;
    border: 0;
    /* font-family: 'Tahoma', 'Arial';  */
    font-family: 'Georgia', serif;
}


/* Logo */
.logo {
    width: 6%;
    margin: 15px 0 0 30px;
    display: inline-block;
}

/* Cabeçalho */
header {
    background-color: rgba(29, 161, 238, 0.733);
    padding: 10px 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Div de Cabeçalho */
.divHeader {
    position: relative;
    margin: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}


nav {
    position: relative;
    margin-right: 30px;
}


nav li {
    display: inline-block;
    color: white;
    font-size: 27px;
    margin-right: 30px;
    padding: 10px 15px;
    cursor: pointer; 
}

nav a{
    text-decoration: none;
    color: white;
}


nav li:hover {
    background-color: rgba(20, 111, 163, 0.9);
    border-radius: 10px;
}


.banner{
    width: 100%;
    height: 400px;
    /* object-fit: cover; */
}


/* sessão sobre nós */
.Sobre_Nós{
    margin: 10;
    text-align: justify;
    width: 65%;
    margin-left: 20%;
    
}

.img_sobreNós{
   width: 35%;
   float: left;
   margin-right: 25px;
   margin-left: 40px;
   border-radius: 2%;
   box-shadow: 0px 10px 10px 5px #0a0a0a2d;
}

.titulo_sobreNós{
    font-size: 200%;
    clear: left;
    text-align: center;
}

.text_sobreNós{
    font-size: 110%;
    margin-right: 50px;
}


.Textos{
    padding: 30px;
    text-align: justify;
    
}


/* sessão Estabelecimento */
.Nosso_estabelecimento {
    background-color: rgba(224, 224, 224, 0.7);
    text-align: center;
    padding: 40px 0;
    margin-top: 5%;
}

.titulo_estabelecimento {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sub_estabelecimento {
    margin-top: -10px;
    font-size: 1.1rem;
    color: #333;
}

.mapa {
    width: 80%;
    max-width: 900px;
    height: 500px;
    border: 0;
    margin: 0 auto;
}


/* sessão beneficios */
.beneficios {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #fff;
    margin-top: -2%;
}

.titulo_beneficios {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
   
}

/* .li_beneficios {
    width: 30%;
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-align: left;
    padding-left: 40px;
    line-height: 1.6;
   
} */



.ul_beneficios{
    padding-top: 4%;
    list-style: none;
    display: inline-block;
    vertical-align: top;

}

.img_beneficio {
    width: 35%;
    border-radius: 5%;
    object-fit: cover;
    margin-top: 20px;
    box-shadow: 10px 10px 5px 0px #0a0a0a2d;
}

/* sessão video */
.video_ilustrativo{
    margin: 0;
    text-align: justify;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.427);
   
}

.titulo_video{
    font-size: 200%;
    clear: left;
    text-align: center;
    
}

.video{
    position: inherit;
    width: 700px;
    height: 500px;
    text-align: center;
    padding: 20px;
    
}

/* Footer */
footer {
    background-color: rgba(29, 161, 238, 0.733);
    text-align: center; 
    padding: 20px; 
    font-size: 16px; 
}

footer p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.logo_footer {
    width: 80px; 
    display: block;
    margin: 0 auto; 
}

footer i {
    color: white;
    margin: 0 5px;
}

/* SESSÃO HOPESDAGEM -> PRODUTOS
/*Container dos Cards*/
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-bottom: 20px;
    
}

/* Estilização do card */
.card {
    background-color: #ffffff;
    width: 280px;
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    border: 1px solid #d6d3d3;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 16px;
}

.card h2 {
    font-size: 20px;
    color: #2d2d2d;
    font-weight: 500;
    margin: 10px 0 4px;
}

.preco {
    font-size: 20px;
    font-weight: 600; /*deixa a fonte grossa */
    color: #3cb371;
    margin: 8px 0;
}

.titulo_produtos, .titulo_Passeios {
    font-size: 2rem;
    text-align: center;
    color: #1f1f1f;
    margin-bottom: 10px;
}

.text_produtos, .text_Passeios {
    padding: 20px;
    border-radius: 8px;
    max-width: 900px;
    margin: 50px auto;
    font-size: 19px;
    line-height: 1.6;
    text-align: center;
    background-color: #fafafa;
}

/* Estilização da POP de detalhes */
.pop{
    margin: 0;
}

.pop img {
    width: 700;
    height: 500;
    border-radius: 10px;
}

.pop h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.733);
}

.pop p{
    padding: 2% 0 9% 15%;
    margin: 0;
    white-space: pre-line;
    width: 70%;
}

#nome-produto{
    text-align: center;
}

/* VERIFICAR UMA FORMA DE DEIXAR A IMAGEM NO CENTRO */
#imagem-produto{
    width: 70%;
    margin-left: 15%;
}

#descricao-produto{
    text-align: center;
}

/* PAGINA DE CONTATOS */

.titulo_Contatos{
    margin-left: 2%;
}

.texto_contatos{
    margin-left: 3%;
}

/* sessão contatos */
.titulo_Contatos{
    font-size: 40px;
    font-weight: bold;
    margin-left: 50px ;
}

.texto_contatos{
    padding-left: 5%;
}

form{
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

fieldset{
    width: 75%;
    padding-left: 5%;
    margin-bottom: 2%;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 85%;
}

.chk{
    margin: 20px 0;
} 

.enviar{
    width: 40%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: rgba(29, 161, 238, 0.733);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 0.2s all;
    cursor: pointer;
}

.enviar:hover{
    background: rgba(34, 152, 221, 0.733);
    transform: scale(1.1);
}

.formRetorno{
    display: none;
    margin-bottom: 15px;
}

.formRetorno p{
    font-size: 24px;
}

.texto-contatos{
    margin-left: 20px;
}



.body_contatos{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_contatos{
    flex: 1;
}
